<div class="login-container">
  <mat-card class="login-card">
    <h2 class="title">Log In</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        @if (loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')) {
          <mat-error>Email is required</mat-error>
        }
        @if (loginForm.get('email')?.touched && loginForm.get('email')?.hasError('email')) {
          <mat-error>Email must be a valid email address</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
          @if (loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')) {
            <mat-error>Password is required</mat-error>
          }
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        class="full-width"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Log In
      </button>
    </form>

    <p class="register-text">
      You don't have an account yet?
      <a routerLink="/register">Register now!</a>
    </p>
  </mat-card>
</div>
